p {
   font-size: 16px;
}

#menu ol{
	list-style-type: none;
	overflow: hidden;
    border: 2px solid black;
    background-image: url("../img/fundo-laranja.jpg");
	text-align: center;
	margin: 0;
	padding: 0;
}

#menu li{
	display: inline-block;
	text-align: center;
    border-bottom: 1px groove #555;
    margin: 0 20px;
}

#menu li a{
	display: inline-block;
	color: black;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-family: 'Kavoon', cursive;
    text-shadow: 2px 2px white;
}

#menu li a:hover{
	background-color: #C0C0C0;
}