
.cabecalho {
 background-color: rgb(102, 204, 255);
}

.menu ol, .menu ul {
  background-color: black;
}



.degrade  {
  background-color: black;

}

.nuvens {
  background-color: black;
  color: white;
}

#rodape {
  background-color: black;
}
