

.cabecalho {
  background-repeat: no-repeat;
  background-image: url("../img/fundo_mar.jpg");
}

.menu ol, .menu ul {
  background-color: #001338;
}



.degrade {
  background-image: url("../img/blue-white.jpg");
  background-repeat: repeat-x;
}

.nuvens {
  background-image: url("../img/fundo-nuvens.jpg");
}
#rodape {
  background-color: #001338;
}






