doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    include ../nav
    
    .interior
      .conteudo
        section.principal
          include:markdown-it ../biografia.md
            
        aside.lateral
          .menu.vertical(style='position: fixed; right: 0; top: 265px;')
            ul
              li
                a(href='#') Sérgio
              li
                a(href='#') Thiago
              li
                a(href='#') Mateus
              li
                a(href='#') Ramon
              li
                a(href='#') Kaulitz

    
    include ../footer
