doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    include ../nav
    
    .interior
      .conteudo
        section.principal
          
          h2 Biografia

          p Nesta página você encontrará algumas informações sobre os participantes do grupo : nome, skills em programação, certificação, etc.

          hr
          
          a#sergio
            h2 Sérgio Ferreira

            p Nome Completo : Sérgio Ferreira Batista Filho
            p Idade : 21 anos
            p Línguas : Português fluente, inglês avançado, alemão básico, espanhol básico.
            p Ano de ingresso : 2016
            p Linguagens de programação : Java, JavaScript, TypeScript, C, C++, PHP
            p Front-end : HTML5, CSS3, PUG, SASS/LESS, SVG, Android, JavaFX
            p Áreas de Interesse : Modularização/Arquitetura de sistemas, gestão de dependências, visualização 3D
            p Certificações : Certificação de aproveitamento nos programas de Inicação Científica da OBMEP (Olimpíada Brasileira de Matemática das Escolas Públicas) na Unicamp nos anos de 2009, 2011, 2012 e 2013, por suas respectivas medalhas de bronze em 2009, 2011, 2012, 2013 e de prata em 2014.

          a#thiago
            h2 Thiago Viotto

            p Nome Completo : Thiago Henrique Viotto
            p Idade : 21 anos
            p Línguas : Portugues e Inglês
            p Ano de Ingresso : 2016
            p Linguagens de programação : Python, C, C++, Java, PHP JavaScript.
            p Front-end: HTML5 e CSS.
            p Biografia: Sou uma pessoa que gosta muito de refletir. Gosto das coisas certas, e tenho esperança de um mundo melhor. Curto bastante sistemas, e amo tecnologia. Tenho personalidades diferentes, nas horas de estudo, procuro sempre o foco, nas horas de trabalho, mantenho a atitude profissional. Mas, também tenho meu lado de humor... Tenho objetivos de aprender muita coisa. Considero o conhecimento, significado de a vida valer a pena. Amo a tecnologia, e espero fazer parte desta evolução um dia. Tenho como hobbies: youtube, música, tecnologia, fifa, futebol.
          
          a#mateus          
            h2 Mateus Tanaka

            p Nome Completo : Mateus Hikari Tanaka
            p Idade : 21 anos
            p Línguas : Português fluente, Inglês intermediário
            p Ano de ingresso : 2016
            p Linguagens de programação : Java, JavaScript, C#, C, C++
            p Front-end : HTML, CSS, JSF, Bootstrap
            p Áreas de Interesse : Desenvolvimento de API's, Gestão de Projetos
            p Cursos : Curso Técnico de Informática SENAI - 2015
            p Currículo : Desenvoledor Java na CI&T - Atualmente

          a#ramon
            h2 Ramon Ramalho

            p Nome Completo : Marcos Ramon Ramalho
            p Idade : 21 anos
            p Línguas : Português, Inglês(Intermediário)
            p Ano de ingresso : 2016
            p Linguagens de programação : C, C++ e Java
            p Front-end : HTML e CSS
            p Áreas de Interesse : Otimização de Processos, Criptografia e Redes

          a#kaulitz
            h2 Kaulitz Guimarães

            p Nome Completo : Kaulitz Guimarães Oliveira
            p Idade : 20 anos
            p Línguas : Português, inglês e espanhol.
            p Ano de ingresso : 2016
            p Linguagens de programação : Python, C, C++, Java, Swift, PHP JavaScript.
            p Front-end : HTML5 e CSS.
            p Áreas de Interesse : Machine Learning, Natural Language Processing, Web API’s, iOS e Cloud computing.
            p Certificações : Machine Learning (Stanford University), Desenvolvimento de aplicativos para iPhone (UNICAMP), Cloud Computing (Google), Desarollo para Apps Móviles (Google), Python for Data Science (IBM), How to build a ChatBOT (IBM).            
            
        aside.lateral
          .menu.vertical(style='position: fixed; right: 0; top: 265px; width: 20%;')
            ul
              li
                a(href='#sergio') Sérgio
              li
                a(href='#thiago') Thiago
              li
                a(href='#mateus') Mateus
              li
                a(href='#ramon') Ramon
              li
                a(href='#kaulitz') Kaulitz

    
    include ../footer
