doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          h2 Contato

          p Formas de contato com a equipe.

          hr

          .tabelaImagensLinks
            table.blueTable
              thead
                tr
                  th
                    p.members KAULITZ
                  th
                    p.members THIAGO
                  th
                    p.members MATEUS
                  th
                    p.members SÉRGIO
                  th
                    p.members RAMON
              tbody
                tr
                  td
                    a(href='https://github.com/KaulitzGuimaraes/', target='_blank')
                      img(src='img/kaulitz_git.jpg', alt='')
                  td
                    a(href='https://github.com/', target='_blank')
                      img(src='img/thiago_git.jpg', alt='')
                  td
                    a(href='https://github.com/', target='_blank')
                      img(src='img/mateus_git.png', alt='')
                  td
                    a(href='https://github.com/', target='_blank')
                      img(src='img/sergio_git.jpg', alt='')
                  td
                    a(href='https://github.com/', target='_blank')
                      img(src='img/ramon_git.jpg', alt='')
                tr
                  td
                    a(href='mailto:kaulitguimaraes@hotmail.com')
                      img(src='img/email.png', alt='')
                  td
                    a(href='mailto:thiagohenriqueviotto1@gmail.com')
                      img(src='img/email.png', alt='')
                  td
                    a(href='mailto:m184082@dac.unicamp.br')
                      img(src='img/email.png', alt='')
                  td
                    a(href='mailto:sergiodev.exe@gmail.com')
                      img(src='img/email.png', alt='')
                  td
                    a(href='mailto:m183414@dac.unicamp.br')
                      img(src='img/email.png', alt='')

    
    include ../footer
