doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          h2 Contato

          p Formas de contato com a equipe.

          hr

          .contatos
           table
            tbody
             tr
              th Nome
              th Email
              th Telefone
             tr
              td Thiago Viotto
              td thiagohenriqueviotto1@gmail.com
              td 1998135-6064
             tr
              td Kaulitz Guimarães
              td v188530@dac.unicamp.br
              td - 
             tr
              td Mateus Tanaka
              td m184082@dac.unicamp.com
              td -
             tr
              td Sérgio Ferreira
              td sergiodev.exe@gmail.com
              td -
             tr
              td Ramon Ramalho
              td m183414@dac.unicamp.br
              td -
    
    include ../footer
