doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    include ../nav
    
    .conteudo
      section.principal
        h2 Currículo
    
    include ../footer
