doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          h2 HTML e CSS

          p Conceitos de HTML5 e CSS, usados no desenvolvimento do website, que não foram vistos ou discutidos em aula

          hr

          .item_html_css
            h3 abbr
            p Objetivo: Definir uma abreviação
            p Sintaxe: &lt;abbr title="aproximadamente"&gt;aprox.&lt;/abbr&gt;3 anos

          .item_html_css
            h3 escape caracteres
            p Objetivo: Exibir códigos HTML em uma página HTML
            p 
             img(src='./img/escape_table.png', alt='Tabela de escape')

          .item_html_css
            h3 hover
            p Objetivo: Mudar a cor de um link quando o mouse é colocado em cima
            p Sintaxe: hover { background-color: #DFDFDF; color: black; }

       
    include ../footer
