doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo.degrade
        .principal
          img#img-bemvindo
          
        aside.lateral.nuvens
          h2#tituloGaleria GALERIA
    
    include ../footer


