doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo.degrade
        .principal
          #bemVindo
          
        aside.lateral
          h2#tituloGaleria GRUPO
          h3 Sérgio Ferreira - RA 187064
          h3 Ramon Ramalho - RA 183414
          h3 Thiago Viotto - RA 187583
          h3 Mateus Tanaka - RA 184082
          h3 Kaulitz Guimarães - RA 188530

    
    include ../footer


