doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          h2 Links

          p Seção de links para outros websites interessantes para o grupo.

          hr
          
          .links
            div
              a(href='https://www.w3schools.com/', target='_blank')
               img(src='img/w3.jpg', alt='Ícone W3Schools')
               p W3Schools - Learn HTML

            div
              a(href='https://www.udemy.com/', target='_blank')
               img(src='img/udemy.png', alt='Ícone Udemy')
               p Udemy

            div
              a(href='https://www.tutorialspoint.com/html/', target='_blank')
               img(src='img/tutorialspoint.png', alt='Ícone Tutorialspoint')
               p Tutorialspoint

            div
              a(href='https://stackoverflow.com/', target='_blank')
               img(src='img/stack-overflow.png', alt='Ícone StackOverflow')
               p StackOverflow

            div
              a(href='https://pugjs.org/api/getting-started.html', target='_blank')
               img(src='img/pug.png', alt='Ícone PUG')
               p Pug - Renderização de HTML/CSS

            div
              a(href='https://validator.w3.org/#validate_by_upload', target='_blank')
               img(src='img/w3c.png', alt='Ícone W3C')
               p W3C - Markup Validation Service

          p(style='text-align: right;')
            a(href='http://jigsaw.w3.org/css-validator/check/referer')
              img(style='border:0;width:88px;height:31px' src='http://jigsaw.w3.org/css-validator/images/vcss' alt='CSS válido!')

    
    include ../footer
