doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          h2 Links

          p Seção de links para outros websites interessantes para o grupo.

          hr

          p
          .links
          a(href='https://pugjs.org/api/getting-started.html', target='_blank') Pug - Framework de renderização de HTML/CSS

          p
          .links 
          a(href='https://www.w3schools.com/', target='_blank') W3Schools - Learn HTML

          p
          .links
          a(href='https://validator.w3.org/#validate_by_upload', target='_blank') W3C - Markup Validation Service

          p
          .links
          a(href='https://stackoverflow.com/', target='_blank') StackOverflow

    
    include ../footer
