doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          h2 Mídia

          p Arquivos de áudio e/ou vídeo de interesse dos membros do grupo.

          hr

          .videos 
          iframe(width='560', height='315', src='https://www.youtube.com/embed/bSzf7cxa3Is', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

          iframe(width='560', height='315', src='https://www.youtube.com/embed/-RCsJvfFKgw', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
    
          iframe(width='560', height='315', src='https://www.youtube.com/embed/2YEqEh2DB34', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

          iframe(width='560', height='315', src='https://www.youtube.com/embed/jXoWhVKUsJQ?rel=0&controls=0', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')

    include ../footer
