doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        .principal
          section
            h2 Objetivo
            
            ul
              li
                p
                  | O objetivo do grupo nesta disciplina é ampliar o nosso conhecimento na área de programação WEB. Além de praticar lógica com programação e a integração do front-end com o back-end. Visamos também aproveitar a experiência de trabalhar em grupo, onde poderemos aprender com os diferentes pontos de vista de cada membro do grupo
              br
              li
                p Esperamos que, ao final do curso, tenhamos um conhecimento maior em: 
              br
            ol
              li
                p HTML5;
              li
                p CSS;
              li
                p DOM;
              li
                p JavaScript e
              li
                p PHP
            img#boneco(src='img/boneco.jpg', alt='boneco HTML')

    
    include ../footer
