doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    include ../nav
    
    .conteudo
      .principal
        section
          h2 Objetivo
    
    include ../footer
