doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    include ../nav
    
    .conteudo
      section.principal
        h2 Trabalhos

        p Nesta seção será encontrado os trabalhos acâdemicos já realizados pelos membros do grupo
        
        h2 Mateus Hikari Tanaka
        p TT060A - Trabalho realizado na disciplina de Gestão de Projetos, ministrei aulas para alunos de uma escola pública de Limeira com o intuito de ensinar e incentivar a programação entre as crianças.
        p ST765A - Realização de um projeto de computação gráfica desenvolvido na plataforma do blender.
        
        h2 Marcos Ramon Ramalho
        p Projeto A Hora do Código - Ensinando Crianças a Programar mar de 2018 – jun de 2018
        p O objetivo do Projeto era colocar crianças da EMEIEF Aldo José Kuhl em Limeira em contato com o mundo da programação! Foram ministradas aulas com a plataforma code.org. Utilizamos o jogo do minecraft de forma que as crianças pudessem programar e jogar ao mesmo tempo com o intuito de mostrar que a programação é algo muito divertido! Além da experiência incrível de poder ser professor, tivemos contato com práticas de gerenciamento/gestão de projetos que com certeza fortaleceram nosso portfólio para futuros projetos.
        br
        p Desenvolvimento de software de Otimização de poços de petróleo em águas profundas - jan de 2017 – jan de 2018
        p Descrição do projeto
        p Trabalho desenvolvido junto com o prof. Augusto A. Meira, com a finalidade de otimizar poços de petroléo em um determinado terreno, com o objetivo de encontrar as melhores posições possíveis
        br
        p Desenvolvimento de software para controle de estoque e caixa de supermercados jun de 2017 – jan de 2018
        p Descrição do projeto
        p Software que controla o movimento comercial de uma empresa, cria relatórios de vendas e compras e gera nota fiscal.
        p Desenvolvimento de software que armazena notas e gera boletins para alunos da Etec João Belarmino
        p jun de 2012 – jun de 2013
        p Descrição do projeto
        p Devido a falta de automação na criação de boletins e armazenamento de notas dos alunos da ETEC João Belarmino, decidiu-se criar um software com o objetivo de informatizar esse processo e aumentar a facilidade dos alunos para acessar o boletim escolar.
        
        h2 Sérgio Ferreira Batista Filho
        p TODO
        
        h2 Thiago Henrique Viotto
        p Projeto Modelagem UML da empresa Flor do Norte. “Análise de requisitos do cliente, construção de diagramas (Casos de Uso, Robustez, Classes, Sequência etc), documentações...”2017.
        p Projeto Java Clínica veterinária. “O sistema visa solucionar os problemas de uma clínica veterinária, visto no gerenciamento de seus clientes, consultas, animais e veterinários. A clínica possui dificuldades no controle de cadastros de clientes e animais, além dos registros de históricos, consultas e exames. O sistema fará este gerenciamento, tais como, agendamentos de consultas, atualizações cadastrais, histórico de tratamento de animais, informações de sintomas, controle de acesso, agendamento de exames, histórico de consultas.”. 2017.
        p Iniciação científica – “Descoberta de associação entre parâmetros de explosões solares do tipo M e X”. fev/2018- fev/2019.
        p Projeto “Ensinando programação para crianças”. Projeto com o intuito de apresentar a programação para crianças de 9 a 11 anos, através do code.org. UNICAMP. 2018
        
        h2 Kaulitz Guimaraes
        p SVO tagger
        p TCC - prof. Ana Estela e prof. Pedro Ivo
        p O trabalho consistiu em desenvolver um etiquetador de tipologia linguística que identifica os possíveis sujeitos, verbos e objetos, cujo o morfema seja substantivo, na língua portuguesa. O sistema foi implementado em PHP e Python
        p Spam classifier
        p Tópicos avançados em informática I – prof. Ana Estela
        p O trabalho consistiu em desenvolver um script em Python, utilizando a técnica de machine learning, classificação, juntamente com técnicas de processamento de língua natural para  automatizar identificação de spam em comentários no YouTube.

    
    include ../footer
