doctype html

html(lang='pt-br')
  
  include ../head
  
  body
    include ../header
    
    .interior
      include ../nav
      
      .conteudo
        section.principal
          include:markdown-it ../trabalhos.md


    
    include ../footer
