head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  link(rel='stylesheet', type='text/css', href='css/main.css')
  title Programação para WEB - SI401A
  link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Righteous')
