nav.menu
  ol
    li
      a(href='index.html') Início
    li
      a(href='objetivo.html') Objetivo
    li
      a(href='biografia.html') Biografia
    li
      a(href='trabalhos.html') Trabalhos
    li
      a(href='midia.html') Mídia
    li
      a(href='links.html') Links
    li
      a(href='htmlecss.html') HTML 5 e CSS
    li
      a(href='contato.html') Contato
